[bumpversion]
current_version = 0.6.0
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:deploy/chart/7dtd/Chart.yaml]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:docker-bake.hcl]
search = default = "{current_version}"
replace = default = "{new_version}"
